<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../style.css">

</head>
<body>

    <!-- ðŸ€c50 include, 
      ejs includeëŠ” commentì— ìžˆëŠ” ì½”ë“œë„ ì½ì–´ë²„ë¦¼. 
      ì¡°ì‹¬í•˜ìž
    -->
    <%- include('./nav.html') %>

    <section>
      <h1 class="title-page">./views/detail.ejs <br>c48 </h1>

      <!-- ðŸ¦„c48, ðŸ¥’server.js -->
      <!-- ig_data.~ -->
      <h4>id: <%= ig_data._id %> </h4>
      <h4>Title: <%= ig_data.title %> </h4>
      <h4>Date:  <%= ig_data.date %></h4>
      <h4>Desc:  <%= ig_data.desc %></h4>

      <br>    
        
      <a href="/update/<%= ig_data._id %>" class="myBtn">update</a>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>