<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    
        
    <%- include('./nav.html') %>
    <h1 class="title-page">/views/update-id.ejs  </h1>

    <h4>id: <%= ig_post._id %> </h4>
    <h4>Title: <%= ig_post.title %> </h4>
    <h4>Date:  <%= ig_post.date %></h4>
    
 
    <!-- ðŸ¦„c54 -->
    <!--  ðŸ€method="POST" action="/resource?_method=PUT" -->
    <!--  ðŸ€method="POST" action="/resource?_method=DELETE" -->
    <form  method="POST" action="/update-id?_method=PUT">
    
      <div class="form-group">
        <!-- <label>_idì •ë³´..ëª°ëž˜ ë³´ëƒ„, style="display: none;" ì¶”ê°€ </label> -->

           <!-- name="ig_id" value="" style="display:none; -->
        <input type="text" name="ig_id" value="<%= ig_post._id %>" style="display:none;" />

        <br>
        <label>Title: </label>   
        <!-- value  -->
        <input type="text" name="ig_title" value="<%= ig_post.title %>"/>

        <br>
        <label>Date: </label>

        <!-- ðŸ¥’c52 value="" -->
        <input type="text" name="ig_date" value="<%= ig_post.date %>"/>

        <br>
        <label>Desc: </label>

        <!-- ðŸ¥’c52 value="" -->
        <input type="text" name="ig_desc" value="<%= ig_post.desc %>"/>
      </div>

      <!--c54) 
      type="submit" buttoní´ë¦­í•˜ë©´, nameì„ ê°€ì§„ inputì •ë³´ë¥¼ ì„œë²„ë¡œ ì „ì†¡í•´ì¤Œ        
      type="reset" buttonì„ í´ë¦­í•˜ë©´ ìž…ë ¥ëœ inputë“¤ì´ ëª¨ë‘ ì´ˆê¸°í™”ëœë‹¤.       -->
      <button type="submit" class="myBtn">Submit</button>
  </form>
    
</body>
</html>